.home-page-profile {
  display: grid;
  align-items: center;
  padding: 12rem 5rem 5rem 5rem;
  background-color: #999;
  border-bottom: #bca210 solid 5px;
  height: 80vh;
}

.profile-intro {
  letter-spacing: 2px;
  font-size: 5rem;
  font-weight: 400;
  color: #063243;
  text-align: center;
  line-height: 1.5;

  width: 70%;
  margin: 0 auto;
}
.home-page-role {
  font-size: 10rem;
  width: 100%;
}

/* @media */

@media (min-width: 1800px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 840px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 20%;
  }
  .home-page-profile {
    padding: 12rem 1rem 1rem 1rem;
  }
}
/* @media (max-width: 1153px) {
  html {
    font-size: 50%;
  }
} */
/* @media (max-width: 1004px) {
  html {
    font-size: 45%;
  }
} */
/* @media (max-width: 755px) {
  .main-heading {
    display: block;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 4rem;
  }

  .heading-sub {
    display: block;
    font-size: 2.7rem;
    font-weight: 300;
    letter-spacing: 3px;
  }
} */
/* @media (max-width: 565px) {
  .main-heading {
    font-size: 3.5rem;
  }

  .heading-sub {
    font-size: 2rem;

    letter-spacing: 3px;
  }
} */
/* @media (max-width: 494px) {
  .main-heading {
    font-size: 3rem;
  }

  .heading-sub {
    font-size: 1.7rem;
    letter-spacing: 3px;
  }
} */
/* @media (max-width: 442px) {
  .main-heading {
    font-size: 2.7rem;
  }

  .heading-sub {
    font-size: 1.7rem;
    letter-spacing: 3px;
  }
} */
/* @media (max-width: 411px) {
  .main-heading {
    font-size: 2.5rem;
  }

  .heading-sub {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
} */
/* @media (max-width: 390px) {
  .main-heading {
    font-size: 2.3rem;
  }
} */
/* @media (max-width: 369px) {
  .main-heading {
    font-size: 2rem;
  }

  .heading-sub {
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
} */
/* @media (max-width: 338px) {
  .main-heading {
    font-size: 1.7rem;
    letter-spacing: 3px;
  }

  .heading-sub {
    font-size: 1.2rem;
    letter-spacing: 2.5px;
  }
} */
