.hero {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.9),
      rgba(34, 34, 34, 0.9)
    ),
    url("../images/bg-image.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
