.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #11232cbd;
}
.about-heading {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  padding-top: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #9cbcd6;
}
.about {
  background-image: linear-gradient(to bottom, #11232cbd, rgb(15, 14, 14));
  box-shadow: 60px -16px #bca210;
  color: #999;
  padding: 15rem;
  margin: 10rem 10rem 15rem 9rem;
  font-size: 2.5rem;
  line-height: 1.7;
  font-weight: 300;
}

.about__me {
  font-size: 4rem;
  margin-bottom: 6rem;
  border-bottom: solid #bca210;
  letter-spacing: 0.5rem;
}
.about-intro {
  color: #bca210;
  font-size: 4rem;
}
.about__description {
  letter-spacing: 0.2rem;
}
.about__description p {
  margin-top: 2rem;
}
.links-cta {
  position: absolute;
  bottom: 9%;
  right: 45%;
  padding: 1rem 2rem;
  border: solid #bca210 1px;
  transform: translate(-20%, -100%);
}
.links-cta:link,
.links-cta:visited {
  text-decoration: none;
  background-color: #bca210;
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
}
.links-cta:hover,
.links-cta:active {
  background-color: none;
  border: solid #bca210 1px;
  color: #333;
}

@media (max-width: 1200px) {
  .about {
    margin: 40rem 10rem 7rem 2rem;
  }

  .links-cta {
    position: absolute;
    bottom: 3%;
    right: 45%;
    padding: 1rem 2rem;
    border: solid #bca210 1px;
    transform: translate(-20%, -100%);
  }
}

@media (max-width: 800px) {
  .about {
    padding: 6rem 4rem 15rem 4rem;
    box-shadow: 60px -16px #bca210;
    margin: 40rem 2rem 7rem 2rem;
  }
}
