.portfolio__project-bg-clr {
}
.portfolio__project__hero {
  width: 100%;
  padding-top: 10rem;
}
.portfolio__project__container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 3rem;
  justify-content: center;
}

.portfolio__teck-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.7rem;
  display: block;
  padding: 0 2rem;
}

.portfolio__teck-title {
  font-size: 3rem;
  text-align: center;
}
.portfolio__used-stack-box {
  padding: 2rem;
  border-radius: 0.7rem;
}
.portfolio__stack-list-text {
  color: #fff;
  background-color: #495057;
}
.portfolio__stack-list {
  list-style: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.portfolio__project-title {
  font-size: 3rem;
  text-align: center;
  color: #444;
}
.portfolio__project-about {
  font-size: 2rem;
  color: #444;
}

.portfolio__project-title,
.portfolio__teck-title,
.portfolio__worked-with-title {
  margin-bottom: 3rem;
  margin-top: 3rem;
  letter-spacing: 0.5rem;
}

.portfolio__project__description {
  margin-bottom: 1rem;
}
.center-text {
  text-align: center;
}
.portfolio__title-of-book {
  font-style: italic;
}
.portfolio__project-img-samples-box {
  background: linear-gradient(to bottom, #0a2540, #c8bead);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 3rem;
}
.portfolio__project-img-samples {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-content: space-between;
  column-gap: 1rem;
}
.portfolio__project-img {
  margin-top: 3rem;
  padding: 0.5rem;
  max-width: 100%;
  border-radius: 0.5rem;
}
.item-span {
  grid-column: span 2;
}
.portfolio__link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  color: #d3caca;
  padding: 0 2rem;
  text-align: center;
}
.portfolio__view-links {
  background-color: #ce7d00;
}
.portfolio__view-links:link,
.portfolio__view-links:visited {
  text-decoration: none;
  display: block;
  padding: 1rem 3rem;
  border-radius: 1rem;
  color: #fff;
  width: 100%;
}
.portfolio__view-links:hover,
.portfolio__view-links:active {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #0a2540;
  filter: contrast(65%);
}

.portfolio__worked-with-box {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  gap: 2rem;
  background-color: #495057;
  padding: 2rem;
  border-radius: 0.7rem;
}

.portfolio__used-list {
  max-width: 100%;
  border-radius: 0.7rem;
}
.portfolio__worked-with-title {
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
}
@media (max-width: 1200px) {
  .portfolio__project__hero {
    width: 100%;
    padding-top: 22rem;
  }
  .portfolio__teck-title {
    font-size: 3rem;
  }
}
@media (max-width: 850px) {
  .portfolio__project__hero {
    width: 100%;
    padding-top: 25rem;
  }
  .portfolio__teck-title {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .portfolio__project__hero {
    width: 100%;
    padding-top: 29rem;
  }
  .portfolio__project__container {
    display: flex;
    flex-direction: column;
    /* padding-top: 5rem; */
  }

  .portfolio__stack-list {
    list-style: none;
    border-radius: 1rem;
    font-size: 1.7rem;
    margin: 1rem;
    display: block;
    max-width: 100%;
  }

  .portfolio__link-box {
    display: flex;
    align-items: center;
    display: block;
    font-size: 2rem;
    margin: 2rem;
  }
  .portfolio__ul-container {
    padding: 0.3rem;
    border-radius: 0.7rem;
  }
  .portfolio__stack-list-text {
    color: #fff;
    border: solid gray 1px;
  }

  .portfolio__view-links {
    display: flex;
    align-items: center;
    gap: 0.7rem;

    margin-bottom: 1rem;
    background-color: #ce7d00;
    border: none;
    font-size: 1.5rem;
    color: #444;
  }
}
/* @media (max-width: 500px), (min-width: 430px) {
  .portfolio__project__hero {
    width: 100%;
    padding-top: 28rem;
  }
} */
