.project {
  background-color: #11232cbd;
  padding: 3rem;
  padding-top: 15rem;
}
.projects__container {
  display: grid;
  column-gap: 2rem;
}
.projects-page-heading {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
  padding-top: 10rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #9cbcd6;
}

.project__img {
  width: 100%;
}

.project__link:link,
.project__link:visited {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(79, 70, 70);
}

.projects__stack-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.stack-js {
  background-color: rgb(235, 235, 22);
  color: #000;
  border: none;
}
.stack-react {
  background-color: purple;
  color: #fff;
}
.stack-node {
  background-color: green;
  color: #fff;
}
.stack-express {
  background-color: grey;
  color: #000;
}
.stack-prisma {
  background-color: rgb(85, 85, 170);
  color: #fff;
}
.stack-postgres {
  background-color: rgb(227, 79, 25);
  color: #fff;
}

@media (max-width: 1200px) {
  .project {
    padding-top: 25rem;
  }
}
@media (max-width: 900px) {
  .project {
    padding-top: 29rem;
  }
}
@media (max-width: 575px) {
  .project {
    padding-top: 35rem;
  }
  .projects__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
