.project {
  padding: 5rem;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 2rem;
}
.project__card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 1rem 2rem rgba(6, 51, 66, 0.843);
  padding: 1rem;
}
.project__img {
  max-width: 100%;
}

.project__link:link,
.project__link:visited {
  text-decoration: none;
  font-size: 2rem;
}
.project__heading {
  font-size: 2rem;
}
