.project {
  padding: 5rem;
  max-width: 100%;
  margin: 0 auto;
}
.projects__container {
  display: grid;
  /* grid-template-columns: repeat(3, 2fr); */
  column-gap: 2rem;
  padding: 3rem;
}
.project__card {
  background-color: #d0d0df;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-top: solid #090935 3rem;
  border-bottom: solid #090935 0.5rem;
  box-shadow: 2px 3px 10px 0px;
}
.project__img {
  max-width: 100%;
}

.projects-page-heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}
.project__link:link,
.project__link:visited {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(79, 70, 70);
}
.project__heading {
  font-size: 2rem;
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  letter-spacing: 0.5rem;
}

.projects__stack-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.style-list {
  list-style: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.5rem;
}
.stack-js {
  background-color: rgb(235, 235, 22);
  color: #000;
}
.stack-react {
  background-color: purple;
}
.stack-node {
  background-color: green;
}
.stack-express {
  background-color: grey;
  color: #000;
}
.stack-prisma {
  background-color: rgb(85, 85, 170);
}
.stack-postgres {
  background-color: rgb(227, 79, 25);
}
@media (max-width: 575px) {
  .projects__container {
    display: flex;
    flex-direction: column;
  }
}
