.arabic__project-hero {
  width: 100%;
  height: 80vh;
}
.arabic__project-container {
  display: grid;
  grid-template-columns: 200px 2fr 200px;
  padding: 3rem;
  justify-content: center;
  letter-spacing: 0.1rem;
}

.arabic__teck-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arabic__teck-title {
  font-size: 2.5rem;
  color: #666;
}
.arabic__used-stack-box {
  padding: 2rem;
  border-radius: 0.7rem;
}
.arabic__stack-list-text {
  color: #fff;
  background-color: #495057;
}
.arabic__stack-list {
  list-style: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2rem;
}
.js {
  color: #000;
}

.arabic__project-title {
  font-size: 3.5rem;
  text-align: center;
  color: #666;

  /* font-size: 2.5rem; */
}
.arabic__project-about {
  padding: 0 3rem;
  font-size: 2rem;
  color: #666;
}

.arabic__project-title,
.arabic__teck-title,
.arabic__worked-with-title {
  margin-bottom: 3rem;
  margin-top: 3rem;
  letter-spacing: 0.5rem;
}

.arabic__project-description {
  margin-bottom: 1rem;
}
.center-text {
  text-align: center;
}
.arabic__title-of-book {
  font-style: italic;
}
.arabic__project-img-samples-box {
  border: solid rgb(55, 54, 54) 1px;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 3rem;
}
.arabic__project-img-samples {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-content: center;
  column-gap: 1rem;
}
.arabic__project-img {
  margin-top: 3rem;
  padding: 0.5rem;
  max-width: 100%;
  border-radius: 0.5rem;
}

.arabic__link-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  color: #666;
}
.arabic__view-links {
  margin-bottom: 1rem;
  background-color: #e9ecef;
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
}
.arabic__view-links:link,
.arabic__view-links:visited {
  text-decoration: none;
  display: block;
  border: solid#444 0.5px;

  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #444;
}
.arabic__view-links:hover,
.arabic__view-links:active {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  filter: contrast(90%);
}

.arabic__worked-with-box {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 2rem;
  background-color: #495057;
  padding: 2rem;
  border-radius: 0.7rem;
}

.arabic__used-list {
  max-width: 100%;
  border-radius: 0.7rem;
}
.arabic__worked-with-title {
  text-align: center;
  letter-spacing: 0.4rem;
}
@media (max-width: 850px) {
  .arabic__teck-title {
    font-size: 2.5rem;
    color: #666;
  }
}
@media (max-width: 500px) {
  .arabic__project-container {
    display: flex;
    flex-direction: column;
  }
  .arabic__stack-list {
    list-style: none;
    border-radius: 1rem;
    font-size: 1.7rem;
    margin: 1rem;
    display: inline-block;
  }

  .arabic__link-box {
    display: flex;
    align-items: center;
    display: inline-block;
    font-size: 2rem;
    margin: 2rem;
  }
  .arabic__ul-container {
    background-color: #495057;
    padding: 0.3rem;
    border-radius: 0.7rem;
  }
  .arabic__stack-list-text {
    color: #fff;
    border: solid gray 1px;
  }
  /* .project__container {
    padding: 1.5rem;
  } */
}
